html, body{
    margin:0;
    padding:0;
    font-family: Arial, Helvetica, sans-serif;
    background-color: #101010;
    color: white;
}

.container{
    display: flex;
    flex-direction: column;
    align-items: center;
}

#header{
    width: 100%;
    height: 70px;
    align-items: center;
    justify-content: center;
    background-color: black;
}

.searchBlock{
    width: 380px;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#searchInput{
    width: 250px;
    height: 20px;
    background-color: #101010;
    color: white;
    border: navajowhite;
    border: none;
    border: 1px solid white;
    border-radius: 7px;
    padding: 10px;
    outline: none;
    font-size: 16px; 
}

#searchBtn{
    padding: 12px;
    background: linear-gradient(120deg, rgb(245,132,66),rgb(120,66,245));
    color: white;
    cursor: pointer;
    border: none;
    border-radius: 6px;
    font-size: 15px
    
}
#searchBtn:hover{
    background: linear-gradient(120deg, rgb(248, 104, 20),rgb(95, 34, 239)5);
}